body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    float: left;
    padding-left: 433px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    font-size: 17px;
    margin-right: 40px;
    text-transform: uppercase;
}
.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/%D1%82%D0%B5%D0%BD%D1%8C.png)100% 100% no-repeat ,url(../img/%D0%91%D0%BE%D0%B9.jpg.png) 90% 100%/ auto 85% no-repeat ,url(../img/%D1%84%D0%BE%D0%BD.png) center/cover no-repeat 
}
.title__conteiner{
    float: left;
    margin: 432px 0 0 404px;
    color: #2c384a;
    text-align: center;
}
.title__conteiner h1 {
    font-size: 60px;
    font-weight: bold;
    
}
.title__conteiner h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #8b919c;
}
.title__conteiner input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 16px;
    margin: 58px 14px 0px 14px;
}
.Description {
    width: 100%;
        background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) no-repeat 929px 162px 
        
}
.Description_image{
    padding: 0px 0px 44px 861px;
}
.Description h2{
    padding: 110px 0px 96px 900px;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    
}
.Description p{
  padding-left: 595px;  
    text-align: left;

}
.Description_ab{
    padding: 20px 0px 0px 595px;
    text-align: left;
}
.Description input {
    border: 2px solid#6f707e;
    border-radius: 5px;
    background: url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png) no-repeat 5px 10px;
    padding: 11px 17px 11px 26px;
    color: #686f7a;
    font-weight: bold;
    margin: 37px 0px 100px 887px;
}
.Skills {
    height: 521px;
    width: 100%;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.png) no-repeat;
    background-size: cover;
}
.Skills h2 {
    font-weight: bold;
    color: #263244;
    font-size: 35px;
    padding: 50px 0px 0px 875px;
    text-transform: uppercase;
    
}
.Skills_image_title {
    padding: 30px 0px 50px 950px;
    
}
.Skills_WEB{
    display: inline-block;
    padding: 0px 79px 0px 222px;
    vertical-align: top;
}
.Skills_WEB img {
    margin: 0px 0px 0px 120px;
}
.Skills_WEB h3{
    color: #cf7600;
    font-weight: bold;
    font-size: 25px;
    padding: 25px 0px 25px 80px;
}
.Skills_WEB p {
    text-align: center;
}
.Skills_create {
    display: inline-block;
    padding: 0px 79px 0px 0px;
    vertical-align: top;
}
.Skills_create img {
    margin-left: 120px;
}
.Skills_create h3{
    color: #cf7600;
    font-weight: bold;
    font-size: 25px;
    padding: 25px 0px 25px 80px;
    
}
.Skills_create p {
    text-align: center;
}

.Skills_CEO {
    display: inline-block;
    padding: 0px 79px 0px 0px;
    vertical-align: top;
}
.Skills_CEO img {
    margin-left: 120px;
}
.Skills_CEO h3 {
    color: #cf7600;
    font-weight: bold;
    font-size: 25px;
    padding: 25px 0px 25px 80px;
}
.Skills_CEO p {
    text-align: center;
}
.Skills_Market{
    display: inline-block;
    vertical-align: top;
}
.Skills_Market img {
    margin-left: 125px;
}
.Skills_Market h3 {
    color: #cf7600;
    font-weight: bold;
    font-size: 25px;
    padding: 25px 0px 25px 80px;
}
.Skills_Market p {
    text-align: center;
}
.Case {
    width: 100%;
}
.Case h2{
padding: 108px 0px 0px 917px;
    color: #384354;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}
.case_img_title {
    padding: 27px 0px 40px 950px;
}
.Case_text_title {
    padding: 0px 0px 20px 618px;
}
.Client{
    display: inline-block;
    color: #384354;
    padding-left: 388px;
}
.Client h3{
    font-size: 30px;
    font-weight: bold;
}
.Client p {
    font-size: 15px;
}
.Client input{
    border: 2px solid #63b5ae;
    height: 44px;
    background: #63b5ae;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 45px 15px 45px;
        
        
        
        
        
}
.Name_project{

    display: inline-block;
    padding-left: 200px;
    vertical-align: top;
}
.Name_project h3 {
    color: #384354;
    font-size: 30px;
    font-weight: bold;
    
}
.Name_project p {
    color: #3f495a;
    font-size: 15px;
    
}
.Price {
    width: 100%;
}
.Price h2 {
    color: #1c2534;
    font-size: 30px;
    text-transform: inherit;
padding-left: 806px;
    padding-top: 205px;
    padding-bottom: 65px;
}
.type {
    padding-left: 504px;
}
.type h3 {
    color: #1c2534;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}
.Design {
    padding-top: 46px;
    padding-left: 504px;
}
.Design h3 {
    color: #1c2534;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}
.Adaptate {
    padding-top: 46px;
    padding-left: 504px;
}
.Adaptate h3 {
    color: #1c2534;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}
.Price img{
    padding-left: 504px;
    padding-top: 46px;
}
.resul {
    display: inline-block;
padding-top: 25px;
    padding-left: 504px;
color: #1c2534;
    font-weight: bold;
}
.null {
    display: inline-block;
    padding-left: 763px;
    color: #1c2534;
    font-weight: bold;
}
.Statistics {
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.png);
    background-size: cover; 
    margin-top: 158px;
}
.Statistics_title  h2{
    padding-top: 103px;
    padding-left: 803px;
    padding-bottom: 40px;
    color: #323e4f;
    font-weight: bold;
    font-size: 20px;
    
}
.Statistics p{
    color: #323e4f;
    font-weight: bold;
    font-size: 15px;
}
.Stat_img {
    padding-left: 900px;
    padding-bottom: 87px;
}

    
.Statistics h3{
    font-weight: bold;
    font-size: 25px;
    color: #323e4f;
    padding-bottom: 37px;
}
.client {
    display: inline-block;
    padding: 0px 120px 106px 443px;
    text-align: center;
    vertical-align: top;
}
.client img {
    margin-bottom: 37px;
}
.hour{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0px 120px 0px 0px;
}
.hour img{
    margin-bottom: 37px;
}
.mark{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0px 120px 0px 0px;
}
.mark img{
    margin-bottom: 37px;
}
.Project {
     display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0px 120px 0px 0px;
}
.Project img{
    margin-bottom: 37px;
}
Reviews{
    width: 100%;

}
.Reviews h2 {
    padding: 85px 0px 0px 900px;
    color: #243042;
    font-size: 30px;
    font-weight: bold;
}
.Reviews_title img{
    padding: 35px 0px 35px 930px;
}
.Reviews_main img {
    padding: 0px 0px 35px 910px;
}
.Reviews_main p{
    text-align: center;
    padding-left: 315px;
    margin-bottom: 57px;
}
.kick{
padding-left: 930px;
    padding-bottom: 91px;
}
.My_contacts {
    background: url(../img/%D0%A4%D0%BE%D0%BD%20posl.png) no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
}
.My_contacts h2{
    padding: 106px 0px 37px 861px;
    font-size: 30px;
    font-weight: bold;
}
.Contacts_title img {
    padding: 0px 0px 30px 950px;
}
.Contacts_title p{
    text-align: center;
    padding: 0px 0px 51px 305px;
    
}
.SPB{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0px 101px 0px 656px;
}
.SPB h2{
    padding: 0px 0px 0px 0px;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 10px;
}
.SPB img {
    padding-bottom: 10px;
}
.Mail{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.Mail img{
    padding-bottom: 10px;
}
.Tel{
    display: inline-block;
    padding-left: 101px;
    text-align: center;
    vertical-align: top;
}
.Tel img{
    padding-bottom: 10px;
}
.MyMessage h3{
    padding: 59px 0px 0px 839px;
    font-size: 20px;
    font-weight: 300;
}
.FIO {
   display: inline-block;
    float: left;
    padding: 50px 30px 20px 600px;
}
.Email {
    display: inline-block;
    padding: 50px 30px 20px 0px
}
.Message {
    display: inline-block;
    padding: 0px 0px 58px 600px;
}
.Send input{
     background: none;
    border: 2px solid #f9faff;
    border-radius: 5px;
    height: 45px;
    text-align: center;
    color: #f9faff;
    font-size: 13px; 
    padding: 0 16px;
    font-weight: bold;
    margin: 0px 0px 76px 950px;
    
}
.Social_networks img {
    padding-right: 62px;
    padding-bottom: 67px;
}
#one {
    padding-left: 753px;
    padding-bottom: 0px;
}
.Maps img {
    width: 100%;
    height: 354px;
}
.AB {
    background: url(../img/%D0%A1%D0%BB%D0%BE%D0%B9%201.png) no-repeat 100%;
    background-size: cover;
    width: 100%;
    height: 93px;
    
}
.AB p{
    text-align: center;
    padding-top: 45px;
    font-weight: 300;
}