body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    float: left;
    padding-left: 433px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    font-size: 17px;
    margin-right: 40px;
    text-transform: uppercase;
}
.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/%D1%82%D0%B5%D0%BD%D1%8C.png)100% 100% no-repeat ,url(../img/%D0%91%D0%BE%D0%B9.jpg.png) 90% 100%/ auto 85% no-repeat ,url(../img/%D1%84%D0%BE%D0%BD.png) center/cover no-repeat 
}
.title__conteiner{
    float: left;
    margin: 432px 0 0 404px;
    color: #2c384a;
    text-align: center;
}
.title__conteiner h1 {
    font-size: 60px;
    font-weight: bold;
    
}
.title__conteiner h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #8b919c;
}
.title__conteiner input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 16px;
    margin: 58px 14px 0px 14px;
}
.Description {
    height: 1400px;
    width: 100%;
        background: url(../img/%D1%84%D0%BE%D1%82%D0%BA%D0%B0.png) no-repeat 867px 228px/auto, url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) no-repeat 929px 162px 
        
}
.Description h2{
    padding: 112px 0px 0px 900px;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
    
}
.Description p{
  padding: 390px 0px 0px 400px;  
    text-align: left;
}

