p{
    font-family: Arial, "Heveltica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    color: black;
    text-align: justify;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    text-transform: none;
    text-indent: none;
    letter-spacing: 0,3px;
    line-height: none;
    white-space: normal;
    word-spacing: none;
    
    
}