body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    float: left;
    padding-left: 433px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    font-size: 17px;
    margin-right: 40px;
    text-transform: uppercase;
}
.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/%D1%82%D0%B5%D0%BD%D1%8C.png)100% 100% no-repeat ,url(../img/%D0%91%D0%BE%D0%B9.jpg.png) 90% 100%/ auto 85% no-repeat ,url(../img/%D1%84%D0%BE%D0%BD.png) center/cover no-repeat 
}
.title__conteiner{
    float: left;
    margin: 432px 0 0 404px;
    color: #2c384a;
    text-align: center;
}
.title__conteiner h1 {
    font-size: 60px;
    font-weight: bold;
    
}
.title__conteiner h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #8b919c;
}
.title__conteiner input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 16px;
    margin: 58px 14px 0px 14px;
}
.Description {
    width: 100%;
        background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) no-repeat 929px 162px 
        
}
.Description_image{
    padding: 0px 0px 44px 861px;
}
.Description h2{
    padding: 110px 0px 96px 900px;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    
}
.Description p{
  padding-left: 595px;  
    text-align: left;

}
.Description_ab{
    padding: 20px 0px 0px 595px;
    text-align: left;
}
.Description input {
    border: 2px solid#6f707e;
    border-radius: 5px;
    background: url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png) no-repeat 5px 10px;
    padding: 11px 17px 11px 26px;
    color: #686f7a;
    font-weight: bold;
    margin: 37px 0px 100px 887px;
}
.Skills {
    width: 100%;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.png) no-repeat 100% 100%;
    background-size: cover;
}
.Skills h2 {
    font-weight: bold;
    color: #263244;
    font-size: 35px;
    padding: 107px 0px 0px 875px;
    text-transform: uppercase;
    
}
.Skills_image_title {
    padding: 30px 0px 0px 950px;
}
.Skills_WEB{
    display: inline-block;
}
.Skills_create {
    display: inline-block;
}
.Skills_CEO {
    display: inline-block;
    
}
.Skills_Market{
    display: inline-block;
    
}
.Skills_WEB h3 {
    color: #cf7600;
    font-size: 20px;
    font-weight: bold;
    padding: 35px 0px 22px 60px;
}
.Skills_WEB img {
    margin-left: 80px;
}
.Skills_WEB p{
    text-align: justify;
}
.Case {
    width: 100%;
}
.Case h2{
padding: 108px 0px 0px 917px;
    color: #384354;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}
.case_img_title {
    padding: 27px 0px 40px 950px;
}
.Case_text_title {
    padding: 0px 0px 20px 618px;
}
.Client{
    display: inline-block;
    color: #384354;
    padding-left: 388px;
}
.Client h3{
    font-size: 30px;
    font-weight: bold;
}
.Client p {
    font-size: 15px;
}
.Client input{
    border: 2px solid #63b5ae;
    height: 44px;
    background: #63b5ae;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 45px 15px 45px;
        
        
        
        
        
}
.Name_project{

    display: inline-block;
    padding-left: 200px;
    
}
.Name_project h3 {
    color: #384354;
    font-size: 30px;
    font-weight: bold;
    
}
.Name_project p {
    color: #3f495a;
    font-size: 15px;
    
}
